@using Domain.Models
@using Interface.Result
@model Result<List<CategoryDO>>

<h2>Kategoriler</h2>
<a href="@Url.Action("Create","Category")">Yeni Kategori Ekle</a>
<br />
<a href="@Url.Action("CategoryTree","Category")">Kategori Ağacını Gör</a>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Kategori Adı</th>
            <th scope="col">İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Data)
        {
            <tr>
                <th scope="row">@(Model.Data.IndexOf(item) + 1)</th>
                <td>@item.Name</td>
                <td><a href="@Url.Action("Edit","Category",new { id = item.Id })">Güncelle</a> / <a href="@Url.Action("Delete","Category",new { id = item.Id })">Sil</a></td>
            </tr>
        }
    </tbody>
</table>